<div class="ui padded raised segment">
  <div class="ui items">
    <div class="item">
      <div class="image">
        <img src="<%= product_image(@product) %>">
      </div>
      <div class="content">
        <h1 class="header"><%= @product.title %></h1>
        <div class="meta">
          <span class="version">Category <%= @product.category %></span>
        </div>
        
        <div class="meta">
          <span class="version">Product Dimensions <%= @product.dimensions %></span>
        </div>

        <div class="meta">
          <span class="version">Product Ranking <%= @product.ranking %></span>
        </div>
        
        <div class="meta">
          <span class="release">Last Update <%= @product.updated_at.strftime("%F") %></span>
        </div>

        <div class="bottom aligned content">
          <button class="ui primary button" disabled>Refresh</button>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
</div>
